<html>
  <body>
      <h3>Enter Title</h3>
      <input type="text" id="title" class = "form-control;column-lg-2"><br><br>
    <h3>Enter Start Date</h3>
    <input type="date" id="startDate" class = "form-control;column-lg-2"><br><br>
    <h3>Enter End Date</h3>
    <input type="date" id="endDate" class = "form-control;column-lg-2"><br><br>
    <h3>Enter Start Time</h3>
    <input type="time" id="startTime" class = "form-control;column-lg-2"><br><br>
    <h3>Enter End Time</h3>
    <input type="time" id="endTime" class = "form-control;column-lg-2"><br><br>
    <button (click) = "update()" class = "btn btn-success">Update Event</button>
    <br><br>
    <button (click) = "back()" class = "btn btn-success">Back</button>
  </body>
</html>
